.header {
    background-color: #dc342c;
    padding: 16px 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px
}

.logo {
    width: 152px;
    height: 48px;
}